# macOS
.DS_Store

# Java and Maven
chef-courier-backend/target/
*.class
*.jar
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# React
chef-courier-frontend/node_modules/
chef-courier-frontend/dist/

# Environment variables
.env
.env.*
!.env.example
